.header {
  margin-inline: auto;
  width: max-content;
  margin-bottom: 28px;
}
.content {
  max-width: 774px;
  margin-inline: auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
